.history th{
	padding: 5px 15px;
	font-weight: bold;
}

.history td{
	padding: 2px 15px;
}

.snannyowncloudapi a{
	text-decoration: underline;
}

.snannyowncloudapi #detail{
	margin-left: 15px;
}

.oc-dialog .observationModel{
    width: 600px !important;
    padding-right: 30px;
    padding-left: 10px;
}

.oc-dialog .observationModel input{
    width: 100%;
}

.oc-dialog .observationModel input[type="search"] {
    background: transparent url('../img/search.svg') no-repeat 6px center;
    text-indent: 25px;
}

.oc-dialog .observationModel textarea{
    width: 100%;
    height: 65px;
}

.oc-dialog .observationModel .error{
    border-color: #e9322d;
}

.oc-dialog .observationModel label{
    color: #777;
    font-weight: bold;
}


.oc-dialog .observationModel .searchNotFound{
    font-weight: lighter;
    color: #e9322d;
}

.oc-dialog .observationModel .searchNotFound .hidden{
    display: none;
}

.oc-dialog .observationModel .help{
    font-weight: lighter;
    font-style: italic;
    float: right;
}

.autocomplete-suggestions { 
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
}

.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}

.autocomplete-selected { 
    background: #F0F0F0;
}

.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
}

.autocomplete-group { 
    padding: 2px 5px; 
}

.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}

.ui-autocomplete-loading { 
    background:url('img/loading.gif') no-repeat right center;
}

