<div id="{dialog_name}" title="Title " class="observationModel">
	<div>Describe your observation for file :</div>
	<div><span class="svg icon"><img src="{icon}"/></span> {filename}</div >
	<form action="#" id="observationForm">
		<div><label>Name : </label><input type="text" id="observationName" name="name" maxlength="300" /></div>
		<div><label>Description : </label><br/>
		<textarea id="observationDesc" name="description" maxlength="2000"/></div>
		<div><label>System : </label><input type="text" id="observationSystem" name="system" maxlength="60" />
	</form>
</div>